.modal__container.thanks-container(role="dialog" aria-modal="true" data-graph-target="thanks")
  button.reset-btn.modal__close.modal-close(aria-label="Закрыть модальное окно")
  .modal-content.thanks-content
    img.thanks-img(src="img/sprite.svg#elephant", alt="elephant")
    p.reset-text.thanks-text Спасибо, мы вам перезвоним!