section.section-margin.application
  .container.application-container 
    form.application-form(action="./php/mail.php" enctype="multipart/form-data" method="POST")
      h2.reset-title.subtitle.application-title Мы всегда вам рады!
      p.reset-text.application-text Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.     
        button.reset-btn.tooltip(type="button" data-tippy-content="Реплицированные с зарубежных источников, исследования формируют глобальную сеть." data-theme="myTooltip")
          svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M6.3043 4.62716C6.56343 4.47487 6.86809 4.4192 7.16433 4.47002C7.46057 4.52083 7.72927 4.67485 7.92283 4.90479C8.1164 5.13473 8.22234 5.42575 8.22189 5.72632L8.22189 5.72727C8.22189 6.02581 7.98956 6.33704 7.55072 6.6296C7.35067 6.76297 7.14608 6.86571 6.98901 6.93552C6.91137 6.97003 6.84756 6.99551 6.80465 7.01186C6.78325 7.02001 6.76721 7.02583 6.75742 7.02931L6.74726 7.03287C6.41427 7.14427 6.23439 7.5044 6.34546 7.8376C6.4566 8.17101 6.81698 8.35121 7.1504 8.24007L6.94916 7.63636C7.1504 8.24007 7.15101 8.23986 7.1512 8.2398L7.15217 8.23947L7.15465 8.23864L7.16169 8.23623L7.18379 8.22849C7.20197 8.22203 7.22694 8.21294 7.25774 8.2012C7.31923 8.17778 7.40457 8.1436 7.50591 8.09856C7.70679 8.00928 7.97948 7.87339 8.2567 7.68857C8.77231 7.34484 9.49433 6.70171 9.49462 5.72785C9.49543 5.12685 9.28355 4.54494 8.8965 4.08515C8.50937 3.62527 7.97198 3.31723 7.3795 3.21561C6.78701 3.11398 6.17769 3.22532 5.65943 3.52991C5.14117 3.83449 4.74743 4.31266 4.54795 4.87973C4.43132 5.21127 4.60554 5.57458 4.93708 5.69121C5.26862 5.80784 5.63193 5.63362 5.74856 5.30208C5.8483 5.01854 6.04517 4.77946 6.3043 4.62716ZM7.63642 10.1818C7.63642 10.5333 7.35151 10.8182 7.00005 10.8182C6.6486 10.8182 6.36369 10.5333 6.36369 10.1818C6.36369 9.83036 6.6486 9.54545 7.00005 9.54545C7.35151 9.54545 7.63642 9.83036 7.63642 10.1818Z" fill="#FF862F")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M7 1.27273C3.83691 1.27273 1.27273 3.83691 1.27273 7C1.27273 10.1631 3.83691 12.7273 7 12.7273C10.1631 12.7273 12.7273 10.1631 12.7273 7C12.7273 3.83691 10.1631 1.27273 7 1.27273ZM0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 10.866 10.866 14 7 14C3.13401 14 0 10.866 0 7Z" fill="#FF862F")
      ul.reset-list.application-list
        li.form-label.application-item
          input.reset-input.form-input.application-input(type="text" name="name" data-validate-field="name" placeholder="Как вас зовут?")
        li.form-label.application-item
          input.reset-input.form-input.application-input(type="tel" name="tel" data-validate-field="tel" placeholder="Ваш телефон")
        li.form-label.application-item
          input.reset-input.form-input.application-input(type="email" name="email" data-validate-field="email" placeholder="Ваш e-mail")  
      button.reset-btn.btn-primary.form-btn.application-btn(type="submit") Отправить
      .form-aproval.application-aproval
        label.reset-label.form-aproval-label.application-aproval-label(for="approval") 
          input.form-aproval-input.application-aproval-input#approval(type="checkbox" name="approval" data-validate-field="approval")
          span Принимаю 
            a.form-aproval-link.application-aproval-link(href="#")  пользовательское соглашение
    - var applicationImgPath = 'img/main/application/';
    - var applicationPath1024 = applicationImgPath + '1024/';
    - var applicationPath768 = applicationImgPath + '768/';
    - var applicationImgName = '1.png';
    .application-img
      picture
        source(srcset=applicationPath768 + applicationImgName media="(max-width: 900px)")
        source(srcset=applicationPath1024 + applicationImgName media="(max-width: 1200px)")
        source(srcset=applicationImgPath + applicationImgName)
        img(src=applicationImgPath + applicationImgName, alt="Application Image")