section.section-margin.oxford 
  .container.oxford-container 
    .oxford-content
      h2.reset-title.oxford-title Оксфорд 1950
      p.reset-text.oxford-text Новая коллекция изысканных кресел
    button.reset-btn.btn-primary.oxford-btn(type="button") Ознакомиться