.oxford {
  grid-area: oxford;
  border-radius: 10px;
  margin-top: 1px;
  background-color: $black;
  @include media('xl') {
    display: none;
  }

  &-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 190px;
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    max-width: 235px;
    padding: 30px;
  }

  &-title {
    margin-bottom: 3px;
    font-family: $extraFont;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    color: $gold;
  }

  &-text {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }
}
