@import "../../local_modules/normalize.css/normalize";
@import "../utils/variables";
@import "../mixins/media";
@import "../mixins/code";
@import "../default/resets";

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 24px;
  color: $black;
  background-color: $white;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.section-margin {
  margin-bottom: 70px;

}

.container {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 36px;
  @include media('lg') {
    padding: 0 72px;
  }

  @include media('md') {
    padding: 0 12px;
  }
}

.visually-hidden {
  position: absolute;
  display: inline-block;
  border: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  font-size: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.tooltip[data-theme~='myTooltip'] {
  svg {
    border-radius: 50%;
    @include transition(background-color);

    path {
      @include transition(fill);
    }
  }
  &:hover,
  &:active,
  &:focus {
    svg {
      background-color: $secondary;
      path:first-child {
        fill: $white;
      }

    }
  }
}

.tippy-box[data-theme~='myTooltip'] {
  text-align: center;
  border-radius: 0;
  padding: 0;
  font-size: 9px;
  line-height: 14px;
  background-color: $black;
}

@import "../default/titles";
@import "../default/btns";
@import "../default/card";
@import "../default/form";

