// sizes

$sizes: (
  "xs": 320px,
  "sm": 470px,
  "md": 710px,
  "lg": 1004px,
  "xl": 1352px,
);

// colors
$primary: #a65cf0;
$primaryLight: #c998fb;
$primaryShade: #7033ac;
$pinkLight: #f8efff;
$pinkViolet: #ebd1ff;
$secondary: #ff862f;
$secondaryLight: #ffbd59;
$secondaryShade: #bb370e;
$redInput: #ff6972;
$greenInput: #b8ec64;
$gold: #d5b986;
$white: #ffffff;
$greyLight: #f6f6f6;
$mdGrey: #eaeaea;
$grey: #999999;
$greyShade: #666666;
$black: #333333;
$limeColor: #daffd1;
$bone: #fff5d1;

// fonts

$mainFont: "Open Sans", sans-serif;
$extraFont: "Playfair Display", serif;




