.special {

  &-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &-title {
    order:0;
  }

  & .swiper {
    &-special {
      order: 2;
      height: 511px;
      overflow: hidden;
      @include media('md') {
        order: 1;
        margin-bottom: 16px;
      }
    }

    &-slide {
      width: 296px;
      
      &.big {
        width: 624px;

        @include media('xl') {
            & .card-img {
              margin-bottom: 45px;
            }
        }
      }

      & .card {
        &-fig {
          position: absolute;
          right: 30px;
          bottom: 30px;

          @include media('xl') {
            display: none;
          }
        }

        &-top {
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 82px;
          height: 34px;
          font-size: 14px;
          font-weight: 700;
          color: $white;
          background-color: $secondary;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border: 17px solid transparent;
            border-left: 10px solid $secondary;
          }
        }

        &-title {
          max-width: 225px;
          &-link {
            @include textFocus($pinkViolet);
            @include transition(background-color);
          }
        }

        &-price {
          &-new {
            margin-right: 30px;
            font-size: 18px;
            color: $secondary;
          }
        }
      }
    }

    @include swiperBtns(special);
  }
  &-swiper-btns {
    display: flex;
    order: 1;
    margin-left: auto;
    @include media('md') {
      order: 2;
      margin: 0 auto;
    }
  }
}
